[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-smorest = "*"
flask-cors = "*"
flask-jwt-extended = "*"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.13"
