@use '../utils/colors' as c;
@use '../utils/mixins' as m;

.article {
  margin-top: 2rem;
  display: grid;
  row-gap: 4rem;
}

.form {
  &__input {
    background-color: c.$bg-color-two;
    color: c.$font-color-two;
  }

  &__textarea {
    background-color: c.$bg-color-two;
    color: c.$font-color-two;
  }

  &__btn {
    &-create {
      background-color: c.$green-light-color;
      color: c.$bg-color-two;
    }
  }
}

.cards {
  display: grid;
  row-gap: 1.5rem;

  &__card {
    background-color: c.$bg-color-two;
    border-radius: 1rem;
    padding: 2rem 1.5rem;
    box-shadow: 0 4px 20px rgba(0,0,0,.1);

    &-title,
    &-description,
    &-timestamp {
      text-align: left;
    }

    &-title {
      font-size: 1.7rem;
      margin-bottom: .7rem;
      text-decoration: underline;
    }

    &-description {
      font-size: 1.35rem;
    }

    &-timestamp {
      margin-top: 1rem;
      font-size: 1.25rem;
      font-weight: 700;
    }

    &-btns {
      display: flex;
      justify-content: space-around;
      margin-top: 2rem;

      &_edit {
        @include m.card-button(c.$green-light-color);
      }

      &_delete {
        @include m.card-button(c.$red-color);
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: c.$bg-color-two;
  width: 100%;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  box-shadow: 0 4px 20px rgba(0,0,0,.1);
  height: 5rem;

  &__left,
  &__right {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    box-shadow: 0 4px 20px rgba(0,0,0,.2);
    background-color: c.$green-light-color;
    cursor: pointer;
    border: none;
    outline: none;

    &-icon {
      font-size: 2rem;
      color: c.$bg-color-two;
    }
  }
}
