@use '../utils/colors' as c;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(5px);
  z-index: 2;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;

  &__logo {
    font-weight: 700;
    font-size: 1.7rem;
    color: c.$font-color;
    cursor: default;
  }

  &__darkmode {
    &-btn {
      outline: none;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: c.$bg-color-two;
      width: 2.7rem;
      height: 2.7rem;
      cursor: pointer;
      box-shadow: 0 4px 20px rgba(0,0,0,.1);
      border-radius: 1rem;

      &_moon {
        font-size: 1.7rem;
        color: c.$font-color;
      }
    }
  }
}
