.main {
  margin-top: 7rem;
  margin-bottom: 8rem;
  position: relative;

  &__title,
  &__text {
    text-align: center;
  }

  &__title {
    font-size: 2.3rem;
    margin-bottom: .5rem;
  }

  &__text {
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    line-height: .8;
  }
}
